@import 'welcome-banner.css';
@import 'code.css';
@import 'community-involvement.css';
@import 'contact-me.css';

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  background-color: rgb(63, 61, 62);
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

section {
  padding: 2%;
  display: flex;
  justify-content: center;
  min-height: 700px;
}

a, i {
  text-decoration-color: rgb(205, 183, 177);
  color: rgb(205, 183, 177);
}

a:hover,
i:hover {
  text-decoration-color: rgb(85, 141, 102);
  color: rgb(85, 141, 102);
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.container {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}

